*{
    outline: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: darkslategrey;
}
.container{
    background-color: cadetblue;
    max-width: 600px;
    margin: 30px auto;
    padding: 10px;
    border-radius: 10px;
}